/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/bower_components
/node_modules
/pusat-data-medis-fe.rar
/app/module/CSSD
/app/module/EIS
/app/module/Farmasi
/app/module/Gizi
/app/module/GudangUmum
/app/module/Humas
/app/module/IGD
/app/module/IPSRS
/app/module/Jenazah
/app/module/Kasir
/app/module/KiosK
/app/module/Laboratorium
/app/module/Laundry
/app/module/Logistik
/app/module/PerawatanIntensive
/app/module/Perencanaan
/app/module/Piutang
/app/module/PMKP
/app/module/PPI
/app/module/Radiologi
/app/module/RawatInap
/app/module/RawatJalan
/app/module/Registrasi
/app/module/Remunerasi
/app/module/ReservasiOnline
/app/module/Sanitasi
/app/module/SDM
/app/module/SysAdmin
/app/module/TataRekening
/app/module/Akuntansi
/app/module/Ambulance
/app/module/Askep
/app/module/Bedah
/app/module/BendaharaPenerimaan
/app/module/BendaharaPengeluaran
