<div class="grid_12 place_button" style="float:left; margin:15px -20px 15px -20px">

    <button class="btnTemplate1" 
        ng-show="showBtnPerbaharui"
        ng-click="Perbaharui()" 
        style="float:right;
               width:150px">
        Perbaharui
    </button>


    <button class="btnTemplate1" 
        ng-show="showBtnVerifikasi"
        ng-click="Verifikasi()" 
        style="float:right;
               width:150px">
        Verifikasi
    </button>

     <button class="btnTemplate1" 
        ng-show="showBtnBatalVerifikasi"
        ng-click="BatalVerifikasi()" 
        style="float:right;
               width:150px">
        Batal Verifikasi
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnCetak"
        ng-click="Cetak()" 
        style="float:right;
               width:150px">
        Cetak
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnDetail"
        ng-click="Detail()" 
        style="float:right;
               width:150px">
        Detail Tagihan
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnCollecting"
        ng-click="Collecting()" 
        style="float:right;
               width:150px">
        Collecting
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnRiwayat"
        ng-click="Riwayat()" 
        style="float:right;
               width:150px">
        Riwayat Piutang
    </button>

    

     <button class="btnTemplate1" 
        ng-show="showBtnSave"
        ng-click="Save()" 
        style="float:right;
               width:150px">
        Simpan
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnBack"
        ng-click="Back()" 
        style="float:right;
               width:150px">
        Kembali
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnKompensasi"
        ng-click="Kompensasi()" 
        style="float:right;
               width:150px">
        Kompensasi
    </button>
</div>