<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;

 

    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
</style>

<div class="grid_12">
    <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Catatan Observasi Kejang</div>
    </div>
    <div class="grid_12" style="margin-top: 20px">
    <fieldset>
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Tanggal dan Jam Datang"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%" k-ng-model="item.obj[402567]" kendo-datetimepicker
                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                </div>
            </div>


            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Dpjp"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[402568]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai " />
                </div>
            </div> 
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Bangsal"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[402569]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listRuang" />
                </div>
            </div> 
<!--             <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Kelas"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[13306]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listKelas " />
                </div>
            </div>  -->

    </fieldset>
    </div>
    <div class="grid_12">
                <fieldset style="margin-top: 10px; ">
                    
                    <div class="grid_12" style="margin-top: 20px">
                        <table style="width:100%;color: #4c5356;">
    
                            <tr>
                                <th style="text-align: center;width: 30px">No.</th>
                                <th style="text-align: center;width: 250px">Tanggal/Jam</th>
                                <th style="text-align: center;width: 200px">Lama Kejang (Menit)</th>
                                <th style="text-align: center;width: 300px">Lokasi/Bagian Tubuh yang Kejang</th>
                                <th style="text-align: center;width: 400px">Gambaran/Jenis Kejang</th>
                                <th style="text-align: center;width: 200px">Nama Td. Tangan</th>

                                                                
                               
                            </tr>

                            <tr ng-repeat="list in listData1 | orderBy:'id'" ng-init="jawabIndex = $index">
                                
                                <td>{{list.namaexternal}}</td>
                                <td style="text-align: center; width: " ng-repeat="jawab in list.details">
                                    <div class="grid_12">
                                        <div ng-switch on="jawabIndex">

                                            
                                        </div>

                                    <div ng-switch on="jawab.type">

                                             <div ng-switch-when="datetime">
                                                <input style="width: 100%" k-ng-model="item.obj[jawab.id]" kendo-datetimepicker placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                                            </div>
                                            
                                            <div ng-switch-when="textarea">

                                                <textarea style="width: 80%" cols="6" rows="5" c-text-area type="input" filter="'string'" class="k-textbox" style="{{data.style}}"
                                                ng-model="item.obj[jawab.id]" />
                                            </div>

                                            <div ng-switch-when="combobox">
                                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[jawab.id]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />

                                            </div>
                                                
                                    </div> 

                                    </div>

                                </td>
                            </tr>


                        </table>

                    </div>
                </fieldset>
            </div>
</div>

        <div class="grid_12">
            <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>
        </div>
    </div>
</div>