<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #669;
        background-color: #e8edff;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #039;
        background-color: #b9c9fe;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }


    .rowstyle {
        border-bottom: 1px dashed lightblue
    }

    .footer {
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 20px
    }

    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    /* table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 40px;

    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    } */
    legend b {
        color: #41abf2;
    }
</style>

<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate> Skrining pasien yang memerlukan manajer kasus</div>
        </div>
        <div style="margin-top:10px">
            <!-- POSTIF -->
            <div class="grid_12">
                <!-- <fieldset style="margin-top: 10px; ">
                    <legend>
                        <b>GEJALA POSITIF</b>
                    </legend> -->

                    <div class="grid_12">
                        <p>Pasien dinilai sejak asesmen awal di Rawat Jalan/IGD, 
                            dengan pertimbangan pasti bertemu dengan keluarga atau yang mengantar. 
                            'Ada' dinilai 1, 'tidak' dinilai 0 </p>
                    </div>
                    <div class="grid_12" style="margin-top: 20px">
                        <table style="width:100%;color: #4c5356;">
                            <tr style="text-align: center;">
                                <th>No</th>
                                <th style="text-align: center;">Parameter</th>
                                <th style="text-align: center;">Penilaian</th>
                                <th style="text-align: center;">Skor</th>

                            </tr>

                            <tr ng-repeat="list in listData1 | orderBy:'id'" ng-init="jawabIndex = $index">
                                <td>{{list.id}}</td>
                                <td>{{list.nama}}</td>
                                <td>{{list.penilaian}}</td>
                                <td style="text-align: center;" ng-repeat="jawab in list.detail">
                                    <div class="grid_12">
                                        <div ng-switch on="jawab.type">

                                            <div ng-switch-when="checkbox">
                                                <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}"
                                                    ng-model="item.obj[jawab.id]" ng-click="getSkor(jawab)">
                                                <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                                    &nbsp;{{jawab.nama}}</label>

                                            </div>
                                            <div ng-switch-when="textbox">
                                                <input class="k-textbox" ng-model="item.obj[jawab.id]" type="text" disabled>
                                            </div>
                                        </div>

                                    </div>

                                </td>
                            </tr>


                        </table>

                    </div>
                <!-- </fieldset> -->
            </div>
            <!-- POSTIF -->

            <!-- NEGATIG -->

            <!-- NEGATIG -->


            <!-- SKALA -->

            <!-- SKALA -->

            <div class="grid_3" style="margin-top:10px">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Total Skor"></label>
                </div>
                <div class="grid_12">
                    <input c-text-box type="input" filter="" disabled class="k-textbox" ng-model="item.obj[113076]" />
                </div>

            </div>
            <div class="grid_12">
                <p>
                    PASIEN SANGAT DICURIGAI COVID-19 JIKA SKOR ≥ 10
                </p>
                <P>
                    Deteksi Asalm Nukleat SARS- Cov-2 positif merupakan indikator Diagnostik Independe
                </P>
                <p>
                    a.Tmax : suhu tubuh tertinggi sejak Onset penyakit hingga masuk RS pertama kali
                </p>
                <p>
                    b.NLR: Rasio Netrofil terhadap limfosit
                </P>
            </div>



        </div>
    </div>
</div>
<div class="grid_12">
                <div class="grid_8"></div>
                <div class="grid_4">
                    <fieldset style="margin-top:10px;border-radius: 10px;height: 150px;">
                        <div style="padding: 20px;">
                            <div class="grid_12">
                                <div class="grid_12">
                                    <label c-label item="item" c-label-text="Tanggal dan Jam"></label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 100%" k-ng-model="item.obj[113074]" kendo-datetimepicker
                                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'"
                                        parsedate="yyyy-MM-dd HH:mm" />

                                </div>
                            </div>
                            <div class="grid_12" style="margin-top:10px">
                                <div class="grid_12">
                                    <label c-label item="item" c-label-text="Petugas/Dokter"></label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[113075]"
                                        k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                        k-auto-bind="false" k-data-source="listPegawai" />

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div> 


<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>