<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #669;
        background-color: #e8edff;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #039;
        background-color: #b9c9fe;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }


    .rowstyle {
        border-bottom: 1px dashed lightblue
    }

    .footer {
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 20px
    }

    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    /* table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 40px;

    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    } */
</style>

<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate> Crisis Triage Rating Scale </div>
        </div>
        <div style="margin-top:10px">
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Pemeriksa"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[4265]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                    
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Tgl Periksa"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%" k-ng-model="item.obj[4266]" kendo-datetimepicker 
                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                </div>
            </div>


            <div class="grid_12" style="margin-top: 20px">
                <table style="width:100%;color: #4c5356;">
                    <tr>
                        <th style="width:150px;font-weight: bold;text-align: center;">KATEGORI</th>
                        <th style="width:40px;font-weight: bold;text-align: center">SKOR</th>
                        <th style="font-weight: bold;text-align: center">PARAMETER</th>
                    </tr>
                    <tr>
                        <td rowspan="6">A. KEBAHAYAAN</td>
                    </tr>
                    <tr ng-repeat="jawab in listData1 | orderBy:'id'" ng-init="jawabIndex = $index">
                        <td>{{jawab.skor}}
                        </td>
                        <td>
                            <div class="grid_11">
                                <div class="grid_12">
                                    <div ng-switch on="jawabIndex">
                                        <!-- <div ng-switch-when="0"> -->
                                        <div ng-switch-default>
                                            <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}"
                                                ng-model="item.obj[jawab.id]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                                &nbsp;{{jawab.nama}}</label>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="6">B. SISTEM PENDUKUNG </td>
                    </tr>
                    <tr ng-repeat="jawab in listData2 | orderBy:'id'" ng-init="jawabIndex = $index">
                        <td>{{jawab.skor}}
                        </td>
                        <td>
                            <div class="grid_11">
                                <div class="grid_12">
                                    <div ng-switch on="jawabIndex">
                                        <!-- <div ng-switch-when="0"> -->
                                        <div ng-switch-default>
                                            <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}"
                                                ng-model="item.obj[jawab.id]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                                &nbsp;{{jawab.nama}}</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="6">C. KEMAMPUAN BEKERJA</td>
                    </tr>
                    <tr ng-repeat="jawab in listData3 | orderBy:'id'" ng-init="jawabIndex = $index">
                        <td>{{jawab.skor}}
                        </td>
                        <td>
                            <div class="grid_11">
                                <div class="grid_12">
                                    <div ng-switch on="jawabIndex">
                                        <!-- <div ng-switch-when="0"> -->
                                        <div ng-switch-default>
                                            <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}"
                                                ng-model="item.obj[jawab.id]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                                &nbsp;{{jawab.nama}}</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="grid_3" style="margin-top:10px"> 
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Total Skor"></label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[4282]" />
                    </div>
                </div>
                <div class="grid_3" style="margin-top:10px">
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Tanggal dan Jam"></label>
                    </div>
                    <div class="grid_12">
                        <input style="width: 100%" k-ng-model="item.obj[4283]" kendo-datetimepicker 
                            placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>