<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;

 

    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
</style>

<div class="grid_12">
    <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Formulir SBAR</div>
    </div>
    <!-- <div class="grid_12" style="margin-top: 20px">
    <fieldset>
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Tanggal dan Jam Datang"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%" k-ng-model="item.obj[14741]" kendo-datetimepicker
                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                </div>
            </div>


            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Dpjp"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[14742]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai " />
                </div>
            </div> 
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Bangsal"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[14743]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listRuang" />
                </div>
            </div> 
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Kelas"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[14744]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="listKelas " />
                </div>
            </div> 

    </fieldset>
    </div> -->
    <div class="grid_12">
                <div class="grid_12" style="margin-top: 20px">
                    
                    <div class="grid_12">
                        <textarea style="height: 400px;width: 800px" c-text-area type="input" filter="'string'" class="k-textbox" style="{{data.style}}"
                         ng-model="item.obj[111008]" />
                    </div>
                </div>
                    <div class="grid_6" style="margin-top: 10px">
                        <div class="grid_12">
                            <div class="grid_12" style="width: 60%">
                                <label c-label item="item" c-label-text="Tanggal dan Jam"></label>
                            </div>
                            <div class="grid_12">
                                <input style="width: 60%" k-ng-model="item.obj[111009]" kendo-datetimepicker
                                    placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'"
                                    parsedate="yyyy-MM-dd HH:mm" />

                            </div>
                        </div>
                        <div class="grid_12" style="margin-top:10px">
                            <div class="grid_12" style="width: 60%">
                                <label c-label item="item" c-label-text="Dokter Jaga"></label>
                            </div>
                            <div class="grid_12">
                                <input style="width: 60%;" kendo-combo-box k-ng-model="item.obj[111010]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                    k-auto-bind="false" k-data-source="listPegawai" />

                            </div>
                        </div>
                    </div>
                        
                    <div class="grid_6" style="margin-top: 10px">
                            <div class="grid_12">
                                <div class="grid_12" style="width: 60%">
                                    <label c-label item="item" c-label-text="Tanggal dan Jam Verifikasi"></label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 60%" k-ng-model="item.obj[111011]" kendo-datetimepicker
                                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'"
                                        parsedate="yyyy-MM-dd HH:mm" />

                                </div>
                            </div>
                            <div class="grid_12" style="margin-top:10px">
                                <div class="grid_12" style="width: 60%">
                                    <label c-label item="item" c-label-text="Verifikasi"></label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 60%;" kendo-combo-box k-ng-model="item.obj[111012]"
                                        k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                        k-auto-bind="false" k-data-source="listPegawai" />

                                </div>
                            </div>
                        </div>

               
            </div>
</div>


        <div class="grid_12">
            <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>
        </div>
    </div>
</div>