<style type="text/css">
    .style-center {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .style-right {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .style-left {
        display: inline-block;
        text-align: left;
        width: 100%;
    }
</style>

<!-- <div ng-controller="InputResepApotikOrderNewCtrl"> -->

<div class="panel panel-default">
    <div class="panel-heading" c-translate> Formulir Pendelegasian Pemberian Obat</div>
    <div class="grid_12" ng-show="riwayatFormResep" style="margin-top: 10px;">
        <div class="grid_12 headerBox">
            <p>Daftar Resep Pasien</p>
        </div>
        <!-- <div class="grid_12"> -->
        <div class="grid_12 borderBox">
            <div id="kGrid" kendo-grid k-data-source="dataGridResep" k-selectable="'row'" k-columns="columnGridResep"
                k-pageable="'true'" k-sortable="'true'" k-ng-model="dataSelectedResep">
                <div k-detail-template>
                    <kendo-tabstrip>
                        <div>
                            <div id="kGridDetail" kendo-grid k-options="data2(dataItem)" k-sortable="'true'"
                                k-selectable="'row'" k-ng-model="dataSelectedResepDetail"
                                ng-click="klikDetail(dataSelectedResepDetail)">
                            </div>
                        </div>
                    </kendo-tabstrip>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- <div class="grid_12">
            <div class="grid_10"></div>
            <div class="grid_2" style="margin-top: 22px">
                <button class="c-button" ng-click="newOrder()">Input Delegasi Obat</button>
            </div>
        </div> -->
    </div>
    <div class="grid_12" ng-show="InputDelegasi">
        <div class="grid_12" style=" height:90px;margin-top: 5px">
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Tanggal Delegasi"></label>
                </div>
                <div class="grid_12 padDatePicker">
                    <input style="width: 100%" k-ng-model="item.TglDelegasi" kendo-datetimepicker k-max="now"
                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Pegawai Farmasi"></label>
                </div>

                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.PegawaiFarmasi"
                        k-data-text-field="'namalengkap'" k-data-value-field="'id'" k-filter="'contains'"
                        k-auto-bind="false" k-data-source="listPegawaiFarmasi" />
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Perawat Pelaksana"></label>
                </div>

                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.PerawatPelaksana"
                        k-data-text-field="'namalengkap'" k-data-value-field="'id'" k-filter="'contains'"
                        k-auto-bind="false" k-data-source="listPenulisResep" />
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Alergi"></label>
                </div>
                <div class="grid_12">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.Alergi" />

                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="panel panel-default">
                <div class="panel-heading" c-translate>Input Pendelegasian Obat</div>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_12">
                <div class="grid_3">
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Produk"></label>
                    </div>
                    <div class="grid_12">
                        <input kendo-combo-box k-ng-model="item.produk" k-data-text-field="'namaproduk'"
                            k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false"
                            k-data-source="listProduk" />
                    </div>
                </div>
                <div class="grid_1">
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Dosis"></label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.dosis" />

                    </div>
                </div>
                <div class="grid_2">
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Rute"></label>
                    </div>
                    <div class="grid_12">
                        <input kendo-combo-box k-ng-model="item.Route" k-data-text-field="'name'"
                            k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false"
                            k-data-source="listRouteFarmasi" />
                    </div>
                </div>
                <div class="grid_2" ng-repeat="list in listDataSigna | orderBy:'id'">
                    <label c-label item="item" c-label-text="Aturan Pakai"></label>
                    <div class="grid_4 parentKeteranganFieldTambahan">
                        <input c-text-box type="input" filter="" class="k-textbox" style="margin-top: -1px;"
                            ng-model="item.aturanpakaitxt" />
                    </div>
                    <div ng-repeat="opsi in list.detail | orderBy:'id'" style="margin-top: 5px;">
                        <div class="grid_2">
                            <input type="checkbox" ng-checked="opsi.isChecked" class="k-checkbox" name="{{opsi.nama}}"
                                id="{{opsi.nama}}" ng-model="bool" value="{{opsi.id}}"
                                ng-click="addListAturanPakai(bool,opsi)">
                            <label class="k-checkbox-label" for="{{opsi.nama}}">{{opsi.nama}}</label>
                        </div>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="grid_12" style="margin-top: 10px">
                        <div class="grid_4">
                            <button class="btnTemplate1" ng-click="tambah()"><i class="fa fa-plus"></i>Tambah</button>
                        </div>
                        <div class="grid_4">
                            <button class="btnTemplate1 cancel" ng-click="hapus1()"><i
                                    class="fa fa-trash"></i>Hapus</button>
                        </div>
                        <div class="grid_4">
                            <button class="btnTemplate1" ng-click="batal1()"><i class="fa fa-refresh"></i>Batal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_10">
        </div>
        <div class="grid_12">
            <div class="grid_12 borderBox">
                <div id="kGrid" kendo-grid k-data-source="dataGrid" k-selectable="'row'" k-columns="columnGrid"
                    k-pageable="'true'" k-sortable="'true'" k-ng-model="dataSelected" ng-click="klikGrid(dataSelected)">
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_6">
            </div>
            <div class="grid_6">
                <div class="grid_3"></div>
                <div class="grid_2">
                    <button class="btnTemplate1" ng-click="save()"><i class="fa fa-save"></i>Simpan</button>
                </div>
                <div class="grid_2">
                    <button class="btnTemplate1" ng-click="batal()"><i class="fa fa-refresh"></i>Batal</button>
                </div>
                <div class="grid_2">
                    <button class="btnTemplate1 " is-back><i class="fa fa-arrow-left"></i>Kembali</button>
                </div>
                <div class="grid_3">
                    <button class="btnTemplate1 " ng-click="riwayat()"><i class="fa fa-shopping-cart"></i>Riwayat
                        Delegasi</button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid_12" style="margin-top:60px">
        <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
    </div>

    <div class="grid_12" ng-show="riwayatForm" style="margin-top: -40px;">
        <div class="grid_12 borderBox">
            <div id="kGrid" kendo-grid k-data-source="dataGridDelegasi" k-selectable="'row'" k-columns="columnGridDelegasi"
                k-pageable="'true'" k-sortable="'true'" k-ng-model="dataSelectedDelegasi"
                ng-click="klikGridD(dataSelectedDelegasi)">
                <div k-detail-template>
                    <kendo-tabstrip>
                        <div>
                            <div id="kGridDetail" kendo-grid k-options="data4(dataItem)" k-sortable="'true'"
                                k-selectable="'row'" k-ng-model="dataSelectedDelegasiDetail" ng-click="klikDetail(dataSelectedDelegasiDetail)">
                            </div>
                        </div>
                    </kendo-tabstrip>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_7"></div>
            <div class="grid_1" style="margin-top: 10px">
                <button class="btnTemplate1" ng-click="editOrder()"><i class="fa fa-edit"></i>Edit</button>
            </div>
            <div class="grid_1" style="margin-top: 10px">
                <button class="btnTemplate1 error" ng-click="hapusOrder()"><i class="fa fa-trash"></i>Hapus</button>
            </div>
            <div class="grid_2" style="margin-top: 10px">
                <button class="btnTemplate1" ng-click="newOrder()"><i class="fa fa-plus"></i>Delegasi Baru</button>
            </div>
            <div class="grid_1" style="margin-top: 10px">
                <button class="btnTemplate1" ng-click="cetakDelegasi()"><i class="fa fa-edit"></i>Cetak</button>
            </div>
        </div>
    </div>
</div>
<div class="grid_12" style="margin-top:60px">
    <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
</div>
</div>