<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #669;
        background-color: #e8edff;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #039;
        background-color: #b9c9fe;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }


    .rowstyle {
        border-bottom: 1px dashed lightblue
    }

    .footer {
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 20px
    }

    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    .style-center {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .style-right {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .style-left {
        display: inline-block;
        text-align: left;
        width: 100%;
    }

    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-grid .k-grid-header .k-header {
        text-align: center;
    }

    textarea {
        font-family: 'Comfortaa', cursive, 'OpenSans-Regular';
    }

    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        display: block;
        max-width: 80%;
        height: auto;
    }

    img {
        vertical-align: middle;
    }

    img {
        border: 0;
    }

    .photo-pasien {
        /* display: inline-block; */
        width: 100%;
        height: auto;
        border-radius: 50%;
        /* background-size: 32px 35px; */
        /* background-position: center center; */
        vertical-align: middle;
    }
    /*img.profile_img {
    width: 350px;
    height: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    }
    .transisi {
        -webkit-transform: scale(1.8); 
        -moz-transform: scale(1.8);
        -o-transform: scale(1.8);
        transform: scale(1.8);
    }*/
</style>
<div class="grid_12">
    <div class="grid_12">
        <div style="margin-bottom: 30px" class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Lembar Hasil Tindakan Uji Fungsi Prosedur KFR</div>
        </div>
                <div class="grid_12">
                    <div class="grid_12">
                        <div class="grid_4" style="margin-top: 15px;">
                            <label c-label item="item"><b>Lembar Hasil Tindakan Uji Fungsi/Prosedur KFR</b></label>
                        </div>
                        <div class="grid_3">
                                <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80904]"
                                style="margin-left: -50px;" placeholder="" />
                        </div>
                        <div class="grid_1"></div>
                        <div class="grid_1" style="margin-top: 15px;">
                            <label c-label item="item"><b>Koding</b></label>
                        </div>
                        <div class="grid_2">
                                <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80905]"
                                 style="margin-left: -40px;" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_12">
                        <div class="grid_6">
                            <div class="grid_2" style="margin-top: 15px;">
                                <label c-label item="item">No. MR:</label>
                            </div>
                            <div class="grid_9 ">
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80906]" 
                                    placeholder="" disabled/>
                            </div>
                        </div>
                        <div class="grid_6">
                            <div class="grid_2" style="margin-top: 15px;">
                                <label c-label item="item">L/P:</label>
                            </div>
                            <div class="grid_9 ">
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80907]" 
                                    placeholder="" disabled/>
                            </div>
                        </div>    
                    </div>
                    <div class="grid_12">
                        <div class="grid_6">
                            <div class="grid_2" style="margin-top: 15px;">
                                <label c-label item="item">Nama:</label>
                            </div>
                            <div class="grid_9 ">
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80908]" 
                                    placeholder="" disabled/>
                            </div>
                        </div>
                        <div class="grid_6">
                            <div class="grid_2" style="margin-top: 15px;">
                                <label c-label item="item">Tanggal Pemeriksaan:</label>
                            </div>
                            <div class="grid_9 ">
                                <input style="width: 100%" k-ng-model="item.obj[80909]" kendo-datetimepicker
                                placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'"
                                parsedate="yyyy-MM-dd HH:mm" />
                            </div>
                        </div>    
                    </div>
                    <div class="grid_12">
                        <div class="grid_6">
                            <div class="grid_2" style="margin-top: 15px;">
                                <label c-label item="item">Tinggal lahir/Usia:</label>
                            </div>
                            <div class="grid_4 ">
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80910]" 
                                    placeholder="" disabled/>
                            </div>
                            <div class="grid_1">
                                <label c-label item="item" style="margin-top: 10px; margin-left: 13px">/</label>
                            </div>
                            <div class="grid_4 ">
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80911]" 
                                    placeholder="" disabled/>
                            </div>
                        </div>
                        <div class="grid_6">
                            <div class="grid_2" style="margin-top: 15px;">
                                <label c-label item="item">Diagnosis Fungsional:</label>
                            </div>
                            <div class="grid_9 ">
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80912]" 
                                    placeholder="" />
                            </div>
                        </div>    
                    </div>
                    <div class="grid_12">
                        <div class="grid_6">
                            <div class="grid_2" style="margin-top: 15px;">
                                <label c-label item="item">Alamat/Telepon:</label>
                            </div>
                            <div class="grid_5 ">
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80913]" 
                                    style="height: 70px;" placeholder="" disabled/>
                            </div>
                            <div class="grid_1">
                                <label c-label item="item" style="margin-top: 10px; margin-left: 13px">/</label>
                            </div>
                            <div class="grid_3 ">
                                    <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80914]" 
                                    placeholder="" disabled />
                            </div>
                        </div>
                        <div class="grid_6">
                            <div class="grid_2" style="margin-top: 15px;">
                                <label c-label item="item">Diagnosis Medis:</label>
                            </div>
                            <div class="grid_9 ">
                                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[80915]"
                                    k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                    k-auto-bind="false" k-data-source="listDiagnosa" />
                            </div>
                        </div>    
                    </div>
                </div>
                <hr style="margin-top: 20px; margin-bottom: 20px;">
                <div class="grid_12">
                    <div class="grid_12">
                        <div class="grid_2" style="margin-top: 15px;">
                            <label c-label item="item">Instrumen Uji Fungsi/Prosedur KFR:</label>
                        </div>
                        <div class="grid_9 ">
                                <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80916]" style="height: 50px; width: 800px; "
                                placeholder="" />
                        </div>
                    </div>
                    <div class="grid_12">
                        <div class="grid_2" style="margin-top: 15px;">
                            <label c-label item="item">Hasil yang didapat:</label>
                        </div>
                        <div class="grid_9 ">
                                <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80917]"
                                style="height: 50px; width: 800px; " placeholder="" />
                        </div>
                    </div>
                    <div class="grid_12">
                        <div class="grid_2" style="margin-top: 15px;">
                            <label c-label item="item">Kesimpulan</label>
                        </div>
                        <div class="grid_9 ">
                                <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80918]"
                                style="height: 50px; width: 800px; " placeholder="" />
                        </div>
                    </div>
                    <div class="grid_12">
                        <div class="grid_2" style="margin-top: 15px;">
                            <label c-label item="item">Rekomendasi</label>
                        </div>
                        <div class="grid_9 ">
                                <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[80919]"
                                style="height: 50px; width: 800px; " placeholder="" />
                        </div>
                    </div>
                   
                </div>
                </div>
                            
                <div class="grid_12">
                        <div class="grid_8"></div>
                        <div class="grid_4">
                            <fieldset style="margin-top:10px;border-radius: 10px;height: 150px;">
                                <div style="padding: 20px;">
                                    <div class="grid_12" style="margin-top:10px">
                                        <div class="grid_12">
                                            <label c-label item="item" c-label-text="Dokter"></label>
                                        </div>
                                        <div class="grid_12">
                                            <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[80920]"
                                                k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                                k-auto-bind="false" k-data-source="listPegawai" />

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                </div>
                
            </div>
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>
</div>