<c-panel item="item" header="'MenuLembarHasilTindakanMecta'" disabled>
    <div class="panel panel-default container_12">
        <div class="breadcrum detail" style='margin-top: 0px;'>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuLembarHasil == 'RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta')">Tab 1
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuLembarHasil == 'RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta2'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta2')">Tab 2
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuLembarHasil == 'RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta3'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta3')">Tab 3
                </a>
            </div>
            <!-- <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuLembarHasil == 'RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta4'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta4')">Tab 4
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuLembarHasil == 'RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta5'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuLembarHasil.LembarHasilMecta5')">Tab 5
                </a>
            </div> -->
            

        </div>
    </div>
</c-panel>
<style type="text/css">
    .active {
        /* background-color: white !important; */
        background-color: rgb(255, 64, 129) !important;
        color: white !important;
        display: block;
        padding: 10px 0 20px;
        font-weight: 600;
    }

    .breadcrum a.default {
        background: white;
    }

    .breadcrum a:hover {
        background: #41abf2;
        color: white;
        border-bottom: solid 5px rgb(255, 64, 129);
    }

    .breadcrum a {
        color: rgb(63, 81, 181);
        border-bottom: solid 5px rgb(255, 64, 129);
        border-top: solid 1px #cccccc;
        border-right: solid 1px #cccccc;
    }
</style>
<div ui-view></div>