<c-panel item="item" header="'MenuRestrain'" disabled>
    <div class="panel panel-default container_12">
        <div class="breadcrum detail" style='margin-top: 0px;'>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain')">Tab 1
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain2'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain2')">Tab 2
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain3'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain3')">Tab 3
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain4'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain4')">Tab 4
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain5'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain5')">Tab 5
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain6'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain6')">Tab 6
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain7'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain7')">Tab 7
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain8'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain8')">Tab 8
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain9'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain9')">Tab 9
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain10'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain10')">Tab 10
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain11'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain11')">Tab 11
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain12'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain12')">Tab 12
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain13'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain13')">Tab 13
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain14'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain14')">Tab 14
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain15'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain15')">Tab 15
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain16'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain16')">Tab 16
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain17'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain17')">Tab 17
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain18'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain18')">Tab 18
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain19'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain19')">Tab 19
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain20'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain20')">Tab 20
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain21'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain21')">Tab 21
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain22'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain22')">Tab 22
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain23'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain23')">Tab 23
                </a>
            </div>
            <div class="grid_2">
                <a class="n1 default"
                    ng-class="{'active': activeMenuRestrain == 'RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain24'}"
                    ng-click="nav('RekamMedis.AsesmenMedis.MenuRestrain.LembarObservasiPxDenganRestrain24')">Tab 24
                </a>
            </div>

        </div>
    </div>
</c-panel>
<style type="text/css">
    .active {
        /* background-color: white !important; */
        background-color: rgb(255, 64, 129) !important;
        color: white !important;
        display: block;
        padding: 10px 0 20px;
        font-weight: 600;
    }

    .breadcrum a.default {
        background: white;
    }

    .breadcrum a:hover {
        background: #41abf2;
        color: white;
        border-bottom: solid 5px rgb(255, 64, 129);
    }

    .breadcrum a {
        color: rgb(63, 81, 181);
        border-bottom: solid 5px rgb(255, 64, 129);
        border-top: solid 1px #cccccc;
        border-right: solid 1px #cccccc;
    }
</style>
<div ui-view></div>