<style type="text/css">
    fieldset {
        border-radius: 5px;
        border: 1px solid #228be6;
    }

    .k-slider-horizontal {
        display: inline-block;
        float: left;
        width: 450px;

        height: 26px;


    }

    .k-slider {

        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-block;
    }

    .activeBtn {
        background-color: #10c4b2;
        color: #ffffff;
    }
    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }
</style>

<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate>Pemesanan Makanan</div>
        </div>
        <div class="grid_12" style="margin-top: 20px">
            <fieldset style="margin-top: 10px">
                <!-- <legend>A. DATA PRIBADI</legend> -->
                <div class="grid_12" ng-repeat="list in listPesanan | orderBy:'id'" style="padding: 5pt 10pt">
                    <b>{{list.nama}}</b>
                    <div class="grid_12" style="padding: 5pt">
                        <div ng-repeat="jawab in list.detail | orderBy:'id'">
                            <div ng-switch on="jawab.type">
                                <div class="grid_3" ng-switch-when="checkbox">
                                    <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}"
                                        ng-model="item.obj[jawab.id]">
                                    <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                        &nbsp;{{jawab.nama}}</label>

                                </div>
                                <div class="grid_3" ng-switch-when="textbox"
                                    style="margin-top: -10px;margin-left:-150px">
                                    <input class="k-textbox" ng-model="item.obj[jawab.id]" type="text">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid_12" style="margin-bottom: 5px;margin-left: 25px;">
                <textarea style="width: 400px; height: 50px" c-text-area type="input" filter="'string'" class="k-textbox" style="{{data.style}}"ng-model="item.obj[405671]" />
                </div>
                <div class="grid_12" ng-repeat="list in listPesanan3 | orderBy:'id'" style="padding: 5pt 10pt">
                    <b>{{list.nama}}</b>
                    <div class="grid_12" style="padding: 5pt">
                        <div ng-repeat="jawab in list.detail | orderBy:'id'">
                            <div ng-switch on="jawab.type">
                                <div class="grid_3" ng-switch-when="checkbox">
                                    <input type="checkbox" class="k-checkbox" id="item.obj{{jawab.id}}"
                                        ng-model="item.obj[jawab.id]">
                                    <label class="k-checkbox-label" for="item.obj{{jawab.id}}">
                                        &nbsp;{{jawab.nama}}</label>

                                </div>
                                <div class="grid_3" ng-switch-when="textbox"
                                    style="margin-top: -10px;margin-left:-150px">
                                    <input class="k-textbox" ng-model="item.obj[jawab.id]" type="text">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid_12" style="margin-bottom: 5px;margin-left: 25px;">
                <textarea style="width: 400px; height: 50px" c-text-area type="input" filter="'string'" class="k-textbox" style="{{data.style}}"ng-model="item.obj[405672]" />
                </div>
                <div class="grid_12" style="margin-top:10px; margin-left: 20px">
                                <div class="grid_12">
                                    <label c-label item="item" c-label-text="DPJP"></label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 25%;" kendo-combo-box k-ng-model="item.obj[405673]"
                                        k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                        k-auto-bind="false" k-data-source="listPegawai" />

                                </div>
                            </div>
            </fieldset>
    </div>
    <div class="grid_12">
                <div class="grid_8"></div>
                <div class="grid_4">

            </div>

        <div class="grid_12">
            <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>
        </div>
    </div>
</div>