<style>
    .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-grid .k-grid-header .k-header {
        text-align: center;
    }
</style>
<div>
    <div class="grid_12 headerBox">
        <p>Radiologi</p>
    </div>
    <div class="grid_12" style="margin: 5px 5px 5px 5px;">
        <kendo-grid id="kGrid" data-source="sourceResume" options="resumeOpt"
                k-pageable="'true'" k-sortable="'true'" k-resizable="'true'" k-selectable="'row'"
                k-ng-model="dataPasienSelected" ng-click="klikGrid(dataPasienSelected)"></kendo-grid>
        
    </div>

    <div class="grid_12" style="float:right">
        <div class="grid_2 " style="margin-top: 10px ">
            <button class="btnTemplate1"  item="item" is-validate ng-click="radiologi()"><i class="fa fa-list-alt"></i>Lihat Hasil Radiologi
            </button>
        </div>
    </div>
    <div class="grid_12" style="margin-top:100px">
        <div ng-include='"../app/template/Shared/TemplateLoading"'></div>
    </div>
</div>
    <div kendo-window="popUpDiagnosa" k-title="'Data Diagnosa '" k-visible="false" k-width="900" k-height="500">
        <div class="panel panel-default container_12">

            <div class="grid_12">

                <div class="grid_3">
                    <div class="grid_12">
                        <label c-label item="item">No Transaksi</label>
                    </div>
                    <div class="clear"></div>
                    <div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="notransaksi"
                            ng-disabled="true"  />
                    </div>
                </div>
                <div class="grid_3">
                    <div class="grid_12">
                        <label c-label item="item">Nama Pasien</label>
                    </div>
                    <div class="clear"></div>

                    <div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="namapasien"
                            ng-disabled="true"  />
                    </div>
                </div>
                <div class="grid_3">
                    <div class="grid_12">
                        <label c-label item="item">Dokter</label>
                    </div>
                    <div class="clear"></div>

                    <div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="dokter"
                            ng-disabled="true"  />
                    </div>
                </div>
                <div class="grid_3">
                    <div class="grid_12">
                        <label c-label item="item">Poliklinik</label>
                    </div>
                    <div class="clear"></div>

                    <div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="poliklinik"
                            ng-disabled="true"  />
                    </div>
                </div>
            </div>
            
            <div class="grid_12 headerBox">
                <p>Radiologi</p>
            </div>
            <div class="grid_12 borderBox">                
                <kendo-grid id="kGrid" data-source="dataDaftarRadiologi" options="columnDaftarRadiologi"
                    k-pageable="'true'" k-sortable="'true'" k-resizable="'true'" k-selectable="'row'"
                    k-ng-model="dataRadiologiSelected" ng-click="klikGridRadiologi(dataRadiologiSelected)"></kendo-grid>

            </div>
            
            <div class="grid_12 headerBox">
                <p>Hasil Pemeriksaan</p>
            </div>
            <div class="grid_12 ">                
                <div class="grid_12">
                    <div class="grid_12">
                        <label c-label item="item">Hasil Pemeriksaan</label>
                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                    <div class="grid_12">
                        <textarea style="width: 99%; height: 80px;" ng-model="hasil" class="ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false" ng-disabled="true"></textarea>
                    </div>
                </div>
            </div>
            
            </div>
            <div class="grid_12">
                <div class="k-edit-buttons  k-state-default pull-right" style="margin-top:20px">                
                    <kendo-button icon="'k-icon k-cancel'" ng-click='tutup()'>Tutup</kendo-button>
                </div>
            </div>
        </div>
    </div>