<div class="grid_6"></div>
<div class="grid_6">
    <div class="grid_3"  ng-show="!isRiwayat && !isCetak">
    </div>
    <div class="grid_3" style="margin-top: 22px" ng-show='tombolSimpanVis'>
        <button class="btnTemplate1" ng-click="Save()"><i class="fa fa-save"></i>Simpan</button>
    </div>
    <div class="grid_3" style="margin-top: 22px" ng-show="isRiwayat">
        <button class="btnTemplate1" ng-click="Riwayat()"><i class="fa fa-th-list"></i>Riwayat</button>
    </div>
    <div class="grid_3" style="margin-top: 22px">
        <button class="btnTemplate1" ng-click="Batal()"><i class="fa fa-refresh"></i>Batal</button>
    </div>
    <div class="grid_3" style="margin-top: 22px">
        <button class="btnTemplate1 cancel" ng-click="kembali()"><i class="fa fa-arrow-left"></i>Kembali</button>
    </div>
    <div class="grid_3" ng-show="isCetak"  style="margin-top: 22px">
        <button class="btnTemplate1" ng-click="cetakPdf()"><i class="fa fa-print"></i>Cetak</button>
    </div>
</div>