<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #669;
        background-color: #e8edff;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #039;
        background-color: #b9c9fe;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }


    .rowstyle {
        border-bottom: 1px dashed lightblue
    }

    .footer {
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 20px
    }

    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    /* table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 40px;

    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    } */
</style>

<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate> Tindakan ECT </div>
        </div>
        


            <div class="grid_12" style="margin-top: 20px">
                <table style="width:100%;color: #4c5356;">
                    <tr>
                        <th style="width:30px;font-weight: bold;text-align: center;">NO</th>
                        <th style="width:150px;font-weight: bold;text-align: center">Jenis Informasi</th>
                        <th style="font-weight: bold;text-align: center">Isi Informasi</th>
                        <th style="font-weight: bold;text-align: center">Verifikasi</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Diagnosis</td>
                        <td><div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[7084]" />
                    </div></td>
                    <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7073]"
                                                ng-model="item.obj[7073]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7073]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Dasar Diagnosis</td>
                        <td>Anamnesis, Pemeriksaan Fisik, dan Psikiatri </td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7074]"
                                                ng-model="item.obj[7074]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7074]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                     <tr>
                        <td>3</td>
                        <td>Tindakan</td>
                        <td>ECT</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7075]"
                                                ng-model="item.obj[7075]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7075]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Indikasi Tindakan</td>
                        <td>Depresi berat,Obsesif kompulsif, Gangguan Bipolar, Skozofrenia, Sulit minum obat, Keinginan bunuh diri</td>
                        <td>    <input type="checkbox" class="k-checkbox" id="item.obj[7076]"
                                                ng-model="item.obj[7076]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7076]">
                                                &nbsp;</label></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Tata Cara</td>
                        <td>Memberikan aliran listrik untuk menimbulkan kejang</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7077]"
                                                ng-model="item.obj[7077]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7077]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Tujuan</td>
                        <td>Meberikan terapi tambahan ketika obat psikofarmaka tidak memberikan hasil yang diharapkan.</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7078]"
                                                ng-model="item.obj[7078]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7078]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Risiko</td>
                        <td>Nyeri, pusing, mengantuk, agitasi, mual muntah, gigi goyang/lepas, lidah,bibir tergigit, Apbeu, aritmia, luksasi rahang bawah</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7079]"
                                                ng-model="item.obj[7079]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7079]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Komplikasi</td>
                        <td>Kejang Berkepanjangan aspirasi, dislokaso faktur</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7080]"
                                                ng-model="item.obj[7080]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7080]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Prognosis</td>
                        <td>-</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7081]"
                                                ng-model="item.obj[7081]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7081]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Alternatif & Risiko</td>
                        <td>-</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7082]"
                                                ng-model="item.obj[7082]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7082]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Lain-lain</td>
                        <td><div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[7085]" />
                    </div></td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7083]"
                                                ng-model="item.obj[7083]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7083]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>

</table></div>
<div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Surakarta"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%" k-ng-model="item.obj[7086]" kendo-datetimepicker 
                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                </div>
            </div>

        <div style="margin-top:10px">
            <div class="grid_12" style="margin-top:30px">
                <fieldset>
                    <legend><b>Pemberi Informasi</b></legend>
                    <label c-label item="item" c-label-text="Dengan ini menyatakan bahwa saya telah menerangkan hal-hal diatas secara benar dan jelas serta memberikan kesempatan untuk bertanya dan berdiskusi"></label>

            <div class="grid_3">
                <!-- <div clas="grid_12">
                    <label c-label item="item" c-label-text=""></label></div> -->
                    <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[7087]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="item.objcbo[7087]" /></div>
                  
                </div>  </fieldset>
            <div class="grid_12" style="margin-top:20px">
                <fieldset><legend><b>Penerima Informasi</b></legend>
                    <label c-label item="item" c-label-text="Dengan ini menyatakan bahwa saya telah menerima informasi sebagaimanaa diatas yang diberi tanda (V) dikolom kanannya, dan telah memahaminya"></label>
            <div class="grid_3">
                <!-- <div class="grid_12">
                    <label c-label item="item" c-label-text=""></label></div> -->
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[7088]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="item.objcbo[7088]" /></div> 
                    
            </div></fieldset>
                
            </div>  
            

                <!-- <div class="grid_3" style="margin-top:10px"> 
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Total Skor"></label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[4282]" />
                    </div>
                </div> -->
                <!-- <div class="grid_3" style="margin-top:10px">
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Tanggal dan Jam"></label>
                    </div> -->
                    <!-- <div class="grid_12">
                        <input style="width: 100%" k-ng-model="item.obj[4283]" kendo-datetimepicker 
                            placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>