<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #669;
        background-color: #e8edff;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #039;
        background-color: #b9c9fe;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }


    .rowstyle {
        border-bottom: 1px dashed lightblue
    }

    .footer {
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 20px
    }

    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    /* table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 40px;

    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    } */
</style>
<div class="grid_12">
    <div class="grid_12">
        <div style="margin-bottom: 30px" class="panel panel-default container_12">
            <div class="panel-heading" c-translate>TMS </div>
        </div>

                            <table>
                                <tr>
                                    <th style="width: 200px">Mode</th>
                                    <th style="width: 100px">Level</th>
                                    <th style="width: 100px">MT</th>
                                </tr>
                                <tr>
                                    <td rowspan="6"><textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[105766]"
                                            style="height: 300px; width: 98%; " placeholder="" /></td>
                                <td>
                                <div class="grid_12">  
                                        <div class="grid_6">
                                            <p>C3:</p>
                                        </div>
                                        <div class="grid_6" style="margin-left: -50px">
                                                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105767]" />
                                        </div>
                                </div>        
                                </td>
                                <td><input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105768]" /></td>
                                </tr>
                                <tr>
                                    <td>
                                <div class="grid_12">  
                                        <div class="grid_6">
                                            <p>C4:</p>
                                        </div>
                                        <div class="grid_6" style="margin-left: -50px">
                                                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105769]" />
                                        </div>
                                </div>        
                                </td>
                                <td><input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105770]" /></td>
                                </tr>
                                <tr>
                                    <td>
                                <div class="grid_12">  
                                        <div class="grid_6">
                                            <p>DLPFC:</p>
                                        </div>
                                        <div class="grid_6" style="margin-left: -50px">
                                                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105771]" />
                                        </div>
                                </div>        
                                </td>
                                <td><input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105772]" /></td>
                                </tr>
                                <tr>
                                    <td>
                                <div class="grid_12">  
                                        <div class="grid_6">
                                            <p>BROCA:</p>
                                        </div>
                                        <div class="grid_6" style="margin-left: -50px">
                                                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105773]" />
                                        </div>
                                </div>        
                                </td>
                                <td><input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105774]" /></td>
                                </tr>
                                <tr>
                                    <td>
                                <div class="grid_12">  
                                        <div class="grid_6">
                                            <p>TP3:</p>
                                        </div>
                                        <div class="grid_6" style="margin-left: -50px">
                                                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105775]" />
                                        </div>
                                </div>        
                                </td>
                                <td><input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105776]" /></td>
                                </tr>
                                <tr>
                                    <td>
                                <div class="grid_12">
                                <div class="grid_12"> 
                                        <div class="grid_6">
                                            <p>CZ Kanan:</p>
                                        </div>
                                        <div class="grid_6" style="margin-left: -50px">
                                                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105777]" />
                                        </div></div> 
                                        <div class="grid_12">
                                        <div class="grid_6">
                                            <p>CZ Kiri:</p>
                                        </div>
                                        <div class="grid_6" style="margin-left: -50px">
                                                <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105778]" />
                                        </div></div>
                                </div>        
                                </td>
                                <td><input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[105779]" /></td>
                                </tr>

                            </table>
                            <!-- <div class="grid_12" style="margin-top: 5px;">
                                <div class="grid_12">
                                    <div class="grid_2" style="margin-top: 15px;">
                                        <label c-label item="item" c-label-text="Keadaan/Kondisi Pasien"></label>
                                    </div>
                                    <div class="grid_10 ">
                                            <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[13000]"
                                            style="height: 80px; width: 98%; " placeholder="" />
                                    </div>
                                </div>
                                <div class="grid_12" style="margin-top: 5px;">
                                        <div class="grid_2" style="margin-top: 15px;">
                                        <label c-label item="item" c-label-text="Tujuan Transportasi"></label>
                                    </div>
                                    <div class="grid_10 ">
                                            <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[13001]"
                                            style="height: 80px; width: 98%; " placeholder="" />
                                    </div>
                                </div>
                                 <div class="grid_12" style="margin-top: 5px;">
                                        <div class="grid_2" style="margin-top: 15px;">
                                        <label c-label item="item" c-label-text="Jenis Mobil"></label>
                                    </div>
                                    <div class="grid_10 ">
                                            <textarea c-text-area type="input" filter="'string'" class="k-textbox" ng-model="item.obj[13002]"
                                            style="height: 80px; width: 98%; " placeholder="" />
                                    </div>
                                </div>
                            </div> -->
                             <div class="grid_12">
                <div class="grid_8"></div>
                <div class="grid_4">
                    <fieldset style="margin-top:10px;border-radius: 10px;height: 150px;">
                        <div style="padding: 20px;">
                            <div class="grid_12">
                                <div class="grid_12">
                                    <label c-label item="item" c-label-text="Tanggal dan Jam"></label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 100%" k-ng-model="item.obj[105780]" kendo-datetimepicker
                                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'"
                                        parsedate="yyyy-MM-dd HH:mm" />

                                </div>
                            </div>
                            <div class="grid_12" style="margin-top:10px">
                                <div class="grid_12">
                                    <label c-label item="item" c-label-text="Dokter"></label>
                                </div>
                                <div class="grid_12">
                                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[105781]"
                                        k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'"
                                        k-auto-bind="false" k-data-source="listPegawai" />

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
                        </fieldset>
              </div>
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>