<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #669;
        background-color: #e8edff;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #039;
        background-color: #b9c9fe;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }


    .rowstyle {
        border-bottom: 1px dashed lightblue
    }

    .footer {
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 20px
    }

    table,
    th,
    td {
        border: 1px solid #929191;
        border-collapse: collapse;
        padding: 5px;
    }

    th,
    td {
        padding: 5px;
        text-align: left;
    }

    /* table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 40px;

    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    } */
</style>

<div class="grid_12">
    <div class="grid_12">
        <div class="panel panel-default container_12">
            <div class="panel-heading" c-translate> Tindakan Fiksasi Mekanik </div>
        </div>
        


            <div class="grid_12" style="margin-top: 20px">
                <table style="width:100%;color: #4c5356;">
                    <tr>
                        <th style="width:30px;font-weight: bold;text-align: center;">NO</th>
                        <th style="width:150px;font-weight: bold;text-align: center">Jenis Informasi</th>
                        <th style="font-weight: bold;text-align: center">Isi Informasi</th>
                        <th style="font-weight: bold;text-align: center">Verifikasi</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Diagnosis</td>
                        <td><div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[7039]" />
                    </div></td>
                    <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7040]"
                                                ng-model="item.obj[7040]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7040]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Dasar Diagnosis</td>
                        <td>Anamnesis, Pemeriksaan Fisik, dan Psikiatri </td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7041]"
                                                ng-model="item.obj[7041]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7041]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                     <tr>
                        <td>3</td>
                        <td>Tindakan</td>
                        <td>Fiksasi Mekanik</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7045]"
                                                ng-model="item.obj[7045]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7045]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Indikasi Tindakan</td>
                        <td>Perilaku kekerasan, halusinasi, kehilangan kontrol, waham, mania, perilaku bunuh diri, pasien dengan risiko jatuh, disorientasi</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7046]"
                                                ng-model="item.obj[7046]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7046]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Tata Cara</td>
                        <td>Pengekangan dengan manset/tali fiksasi untuk pergelangan tangan dan kaki, pengekangan dengan sprei /selimut, camisoles (jaket pengekang).</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7047]"
                                                ng-model="item.obj[7047]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7047]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Tujuan</td>
                        <td>Untuk menghambat/mencegah seseorang melakukan sesuatu yang di ingikan, melindungi pasien dari cidera, elindungi orang lain cidera oleh pasien</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7048]"
                                                ng-model="item.obj[7048]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7048]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Risiko</td>
                        <td>Luka lecet, konstriksi, nyeri</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7049]"
                                                ng-model="item.obj[7049]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7049]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Komplikasi</td>
                        <td>infeksi, Kontraktur, nekrosis, atrofi otot, hilangnya/berkurangnya densitas tulang, ulkus decubitus, strangulasi, penurunan, fungsional tubuh, stress kardiak, inkonlinensia, dislokasi, fraktur</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7050]"
                                                ng-model="item.obj[7050]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7050]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Prognosis</td>
                        <td>-</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7051]"
                                                ng-model="item.obj[7051]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7051]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Alternatif & Risiko</td>
                        <td>-</td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7052]"
                                                ng-model="item.obj[7052]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7052]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Lain-lain</td>
                        <td><div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[7054]" />
                    </div></td>
                        <td><div class="grid_12">
                     
                                            <input type="checkbox" class="k-checkbox" id="item.obj[7053]"
                                                ng-model="item.obj[7053]" ng-click="getSkor(jawab)">
                                            <label class="k-checkbox-label" for="item.obj[7053]">
                                                &nbsp;</label>

                    </div></td>
                    </tr>

</table></div>
        <div class="grid_3">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Surakarta"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%" k-ng-model="item.obj[7086]" kendo-datetimepicker 
                        placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />
                </div>
            </div>

        <div style="margin-top:10px">
            <div class="grid_12" style="margin-top:30px">
                <fieldset>
                    <legend><b>Pemberi Informasi</b></legend>
                    <label c-label item="item" c-label-text="Dengan ini menyatakan bahwa saya telah menerangkan hal-hal diatas secara benar dan jelas serta memberikan kesempatan untuk bertanya dan berdiskusi"></label>

            <div class="grid_3">
                <!-- <div clas="grid_12">
                    <label c-label item="item" c-label-text=""></label></div> -->
                    <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[7043]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="item.objcbo[7043]" /></div>
                  
                </div>  </fieldset>
            <div class="grid_12" style="margin-top:20px">
                <fieldset><legend><b>Penerima Informasi</b></legend>
                    <label c-label item="item" c-label-text="Dengan ini menyatakan bahwa saya telah menerima informasi sebagaimanaa diatas yang diberi tanda (V) dikolom kanannya, dan telah memahaminya"></label>
            <div class="grid_3">
                <!-- <div class="grid_12">
                    <label c-label item="item" c-label-text=""></label></div> -->
                <div class="grid_12">
                    <input style="width: 100%;" kendo-combo-box k-ng-model="item.obj[7044]" k-data-text-field="'text'" k-data-value-field="'value'" k-filter="'contains'" k-auto-bind="false" k-data-source="item.objcbo[7044]" /></div> 
                    
            </div></fieldset>
                
            </div>  
            

                <!-- <div class="grid_3" style="margin-top:10px"> 
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Total Skor"></label>
                    </div>
                    <div class="grid_12">
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.obj[4282]" />
                    </div>
                </div> -->
                <!-- <div class="grid_3" style="margin-top:10px">
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Tanggal dan Jam"></label>
                    </div> -->
                    <!-- <div class="grid_12">
                        <input style="width: 100%" k-ng-model="item.obj[4283]" kendo-datetimepicker 
                            placeholer="yyyy-MM-dd HH:mm" k-format="'yyyy-MM-dd HH:mm'" parsedate="yyyy-MM-dd HH:mm" />

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<div class="grid_12">
    <div ng-include='"../app/module/EMR/TemplateButtonDinamis" '></div>

</div>